<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oop.dubanrosero.quickmindproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/gameName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tema">
            <intent-filter>
                <action android:name="android.intent.action.TEMA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Configuracion">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURACION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Idioma">
            <intent-filter>
                <action android:name="android.intent.action.IDIOMA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AcercaNosotros">
            <intent-filter>
                <action android:name="android.intent.action.ACERCANOSOTROS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ModoJuego">
            <intent-filter>
                <action android:name="android.intent.action.MODOJUEGO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PreguntaJuego">
            <intent-filter>
                <action android:name="android.intent.action.PREGUNTAJUEGO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Records">
            <intent-filter>
                <action android:name="android.intent.action.RECORDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".FinDelJuego">
            <intent-filter>
                <action android:name="android.intent.action.FINDELJUEGO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PreguntaContrareloj"></activity>
    </application>

</manifest>